body {
    margin: 0px;
}

#container {
    width: 100%;
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 3;
    grid-template-areas:
    "topo"
    "meio"
    "sopé";
}

#cabeçalho {
    grid-area: topo;
    height: 80px;
    display: flex;
    align-items: center;
    background-color: rgb(30, 136, 155);
}

#conteudo {
    grid-area: meio;
    display: flex;
    flex-direction: column;
    background-image: url(imagens/papel\ pautado.avif);
    background-size: cover;
}

#sopé {
    grid-area: sopé;
    height: 100px;
    background-color: rgb(30, 136, 155);
}

#titulo-pagina {
    margin-left: 30px;
    color: white;
}

#titulo{
 align-self: center;
 justify-self: center;
}

.bloco-de-notas {
    margin-top: 15px;
    margin-left: 40px;
    height: 200px;
    width: 1100px;
    display: flex;
    flex-direction: column;
    border:solid;
}
.caixa-de-notas {
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}
.in-put {
    height: 50px;
    width: 40px;
    background-color: transparent;
}
.in-put:hover {
    border-color: rgb(84, 207, 255);
    box-shadow: 7px 7px 20px rgb(84, 207, 255);
}

.create-btn{
    height: 40px;
    width: 150px;
    margin-bottom: 20px;
    border-radius: 100px;
}

.resultado {
    height: 200px;
}
.calc-media {
    height: 40px;
    width: 150px;
    margin-bottom: 20px;
    border-radius: 100px;
}